In [1]:
test_1 = [1,2,3,4,5]
test_2 = [5,4,3,2,1]
print(test_1 - test_2)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [3]:
import numpy as np 
test_3 = np.array(test_1)
test_4 = np.array(test_2)   
print(list(test_3 - test_4))

[-4, -2, 0, 2, 4]

In [4]:
test_5 = None 
print(list(test_5 - test_3))

TypeError: unsupported operand type(s) for -: 'NoneType' and 'int'

In [5]:
test_6 = np.zeros(5)
test_6

array([0., 0., 0., 0., 0.])

In [10]:
test_8 = [1,2,3,4,5]
print(test_8[-2:])

[4, 5]

In [1]:
test = [0,2,2,2,0,2,0,2,0,2,2,2,2,4,0,2,0,2,2,2,2,2,2,0,2,4,2,4,2,0,4,0,2,2,0,2,2,2,2,2,2,2,4,4,0,4,4,2,2,4,0,4,0,2,2,2,2,2,2,2,2,2,0,2,2,4,4,2,4,4,4,4,0,4,6,2,4,4,0,6,0,2,2,2,0,2,2,2,2,2,2,2,2,2,2,4,4,4,0,4,4,4,4,2,2,4,6,4,0,4,4,2,2,6,0,6,0,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,4,4,4,2,4,4,4,4,4,4,0,4,4,6,4,2,4,4,6,4,0,4,6,2,4,6,0,8,0,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,4,4,4,4,0,4,4,4,4,4,4,2,2,4,4,6,4,4,0,4,4,6,4,2,2,4,8,4,0,4,6,2,2,8,0,8,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,0,2,2,2,2,4,4,4,4,2,4,4,4,4,4,4,4,4,0,4,4,4,6,4,4,2,4,4,4,6,4,4,0,4,4,8,4,2,4,4,6,4,0,4,8,2,4,8,0,10,0,2,2,2,2,2,0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,4,4,4,4,4,0,4,4,4,4,4,4,4,4,2,2,4,4,4,6,4,4,4,0,4,4,4,6,4,4,2,2,4,4,8,4,4,0,4,4,8,4,2,2,4,8,4,0,4,8,2,2,10,0,10]
print(min(test))

0

In [3]:
test  = list(set(test))
test.sort(reverse=True)
print(*test)

10 8 6 4 2 0

In [5]:
triangels = {'sides':[1,2,3,4,5,6,7,8],'values':[1,5,13,27,48,78,118,170]}
import pandas as pd 
data = pd.DataFrame(triangels)
data

   sides  values
0      1       1
1      2       5
2      3      13
3      4      27
4      5      48
5      6      78
6      7     118
7      8     170

In [21]:
squares = []
difference = []
two_table = []
count =0
for i in data['values']:
    squared = 2**count
    squares.append(squared)
    diff = i -squared
    difference.append(diff)
    two_table.append(diff/2)
    count += 1
temp = data.copy()
temp['squares'] = squares
temp['difference'] = difference
temp['two_table'] = two_table
temp

   sides  values  squares  difference  two_table
0      1       1        1           0        0.0
1      2       5        2           3        1.5
2      3      13        4           9        4.5
3      4      27        8          19        9.5
4      5      48       16          32       16.0
5      6      78       32          46       23.0
6      7     118       64          54       27.0
7      8     170      128          42       21.0

In [22]:
from collections import  Counter 
test_1 = [2,4,4,4,6,6,8,8,10,10,12,12,14,14,16,16,18,18,20,20,22,22,24,24,26,26,28,28,30,30,32,32,34,34,36,36,38,38,40,40,42,42,44,44,46,46,48,48,50,50,52,52,54,54,56,56,58,58,60,60,62,62,64,64,66,66,68,68,70,70,72,72,74,74,76,76,78,78,80,80,82,82,84,84,86,86,88,88,90,90,92,92,94,94,96,96,98,98,100,100]
Counter(test_1)

Counter({4: 3,
         6: 2,
         8: 2,
         10: 2,
         12: 2,
         14: 2,
         16: 2,
         18: 2,
         20: 2,
         22: 2,
         24: 2,
         26: 2,
         28: 2,
         30: 2,
         32: 2,
         34: 2,
         36: 2,
         38: 2,
         40: 2,
         42: 2,
         44: 2,
         46: 2,
         48: 2,
         50: 2,
         52: 2,
         54: 2,
         56: 2,
         58: 2,
         60: 2,
         62: 2,
         64: 2,
         66: 2,
         68: 2,
         70: 2,
         72: 2,
         74: 2,
         76: 2,
         78: 2,
         80: 2,
         82: 2,
         84: 2,
         86: 2,
         88: 2,
         90: 2,
         92: 2,
         94: 2,
         96: 2,
         98: 2,
         100: 2,
         2: 1})